.article {
    text-align: left;
}
.articles {
    list-style-type: none;
}

.shortInfo {
    list-style-type: none;
}
.shortInfo li {
    display: inline;
    margin-right: 20px;
}

.title a{
    text-decoration: none;
    color: #403838;
    font-family: Cambria;
}